{
	"a": {
		"client": {
			"provider": "rackspace",
			"username": "username",
			"apiKey": "0123456789abcdef0123456789abcdef",
			"region": "DFW"
		},
		"container": "name-of-container-a"
	},
	"b": {
		"client": {
			"provider": "rackspace",
			"username": "username",
			"apiKey": "0123456789abcdef0123456789abcdef",
			"region": "DFW"
		},
		"container": "name-of-container-b"
	},
	"c": {
		"client": {
			"provider": "amazon",
			"keyId": "ABD39J43NK13JK",
			"key": "jkfASDdjfls123DsdDhdsEhjkjJa92dsw3123e"
		},
		"container": "name-of-bucket-c"
	},
	"d": {
		"AWS-S3": {"bucket": "name-of-bucket-d", "region": "us-east-1"}
	},
	"e": {
		"AWS-S3": {"bucket": "name-of-bucket-e", "region": "us-east-1"}
	}
}
