{
	"a": {
		"client": {
			"provider": "rackspace",
			"username": "username",
			"apiKey": "0123456789abcdef0123456789abcdef",
			"region": "DFW"
		},
		"container": "name-of-container-a"
	},
	"b": {
		"client": {
			"provider": "rackspace",
			"username": "username",
			"apiKey": "0123456789abcdef0123456789abcdef",
			"region": "DFW"
		},
		"container": "name-of-container-b"
	},
	"c": {
		"client": {
			"provider": "amazon",
			"keyId": "ABD39J43NK13JK",
			"key": "jkfASDdjfls123DsdDhdsEhjkjJa92dsw3123e"
		},
		"container": "name-of-bucket-c"
	},
	"d": {
		"client": {
			"provider": "aws-sdk",
			"region": "us-east-1",
			"meta": {"default": {"Cache-Control": "max-age=604800"}}
		},
		"container": "name-of-bucket-d"
	}
}
